<app-default-login-layout
  title="Faça login e comece hoje mesmo!"
  primaryBtnText="Inscreva-se agora"
  secondaryBtnText="Conecte-se agora"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Seu nome completo"
      placeholder="Pedro"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Exemplo@Exemplo.com"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="cep"
      inputName="cep"
      type="text"
      label="CEP"
      placeholder="88770-000"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="street"
      inputName="street"
      type="text"
      label="Rua"
      placeholder="Rua Exemplo"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="city"
      inputName="city"
      type="text"
      label="Cidade"
      placeholder="Cidade Exemplo"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="state"
      inputName="state"
      type="text"
      label="Estado"
      placeholder="Estado Exemplo"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="country"
      inputName="country"
      type="text"
      label="País"
      placeholder="País Exemplo"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="cpfCnpj"
      inputName="cpfCnpj"
      type="text"
      label="Seu CPF ou CNPJ"
      placeholder="000.000.000-00"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="birthDate"
      inputName="birthDate"
      type="date"
      label="Sua data de nascimento"
      placeholder="00/00/0000"
    >
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="phoneNumber"
      inputName="phoneNumber"
      type="text"
      label="Número de telefone"
      placeholder="(00) 00000-0000"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua senha"
      placeholder="********"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
      placeholder="********"
    >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
  </form>
</app-default-login-layout>
